.App {
  text-align: center;
}

.canvas {
  display: inline-block;
}

.row {
  height: 50px;
}

.column {
  width: 50px;
  height: 50px;
  text-decoration: none;
  display: inline-block;
}

.odd .column.odd,
.even .column.even {
  background: #d0d0d0;
}

.even .column.odd,
.odd .column.even {
  background: #f8f8f8;
}

.control-panel {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}

.control-panel .colors {
  width: 200px;
}

.control-panel .color {
  display: block;
  text-align: center;
  margin-top: 8px;
  border-radius: 3px;
  border: 2px solid #aaa;
  height: 20px;
  color: #fff;
}
