.App {
  text-align: center;
}

.canvas {
  display: inline-block;
}

.row {
  height: 50px;
}

.column {
  width: 50px;
  height: 50px;
  text-decoration: none;
  display: inline-block;
}

.control-panel {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}

.control-panel .colors {
  width: 200px;
}