body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row {
  line-height: 0;
}

.block {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.row:nth-child(odd) .block:nth-child(odd),
.row:nth-child(even) .block:nth-child(even) {
  background: #d0d0d0;
}

.row:nth-child(odd) .block:nth-child(even),
.row:nth-child(even) .block:nth-child(odd) {
  background: #f8f8f8;
}
